<h1><%= @student.to_s %></h1>

<!-- renders the first name and last name in h1 tag -->
<!-- to.s is the method defined for full name in student.rb and you can access the instance varibale @student -->
